<!doctype html>
<html>
  <head><title>8=d</title><meta charset="utf-8" /></head>
  <body>
    <p>
      <a href="/">Home</a>
    </p>

    <div class="code">
      {% for l in lines %}
        <pre>{{ l|safe }}</pre>
      {% endfor %}
    </div>
  </body>
</html>
